* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 128, 128);
  color:#fff;
  padding-left: 10px;

}
.add-btn {
  background-color: #3d2e1e;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.add-btn:hover {
  background-color: #472a0e;
}



.BlogList{
  border-radius: 50%;
}

.additional{
  display:flex;
  margin-right: 20px;
  color:#fff;
  
}
.overlay1 .button:hover{
  background-color: #472a0e;
}

body{
  background: #183d47;
}