@import "tailwindcss" ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body styling */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(249, 247, 247);
  color: rgb(20, 19, 19);
}